*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Segoe UI";
    src: url("./assets/segoe-ui-webfont/Segoe UI.woff");
}
.window{
    font-family: "Segoe UI";
    background-image: url("./assets/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;

    // Window Software Code
    .window-softwares{
        width: fit-content;
        padding: 10px 15px;
        height: calc(100vh - 40px);
        gap: 20px;
        img{
            width: 45px;
            height: 45px;
        }
    }

    // Taskbar Code
    .taskbar{
        bottom: 0;
        background-color: #CBCBCB;
        z-index: 20;
        .main-win{
            .input-wrap{
                padding: 4px 8px;
                border: 1px solid rgba(0,0,0,0.3);
            }
            input[type="text"]{
                font-family: 'Segoe UI';
                width: 250px;
                outline: none;
                height: 100%;
                padding: 0 4px;
                border: 1px solid transparent;
                font-size: 16px;
                cursor: pointer;
            }
            img{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
        .win-logo{
            margin: 0 10px;
        }
        .side-apps{
            display: flex;
            align-items: center;
            margin: 0 10px;
            gap: 15px;
            img{
                width: 28px;
                height: 28px;
                cursor: pointer;
            }
        }
        .window-logo-popup{
            position: fixed;
            bottom: 40px;
            left: 0;
            width: 55%;
            height: 80vh;
            background-color: #C5DEEB;
            transform: translateY(1000px);
            transition: all .4s ease-in-out;
            opacity: 0;
            z-index: -1;
            display: flex;
            flex-direction: row;
            .user-options{
                width: 45px;
                padding: 10px 0;
                i{
                    font-size: 20px;
                    font-weight: 400;
                }
                h2{
                    font-size: 16px;
                    display: none;
                }
                .option-top,
                .file,
                .picture,
                .settings,
                .power{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                .profile{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    img{
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
                .option-bottom{
                    gap: 25px;
                }
            }
            .user-apps{
                width: 50%;
                height: 100%;
                overflow: hidden;
                padding: 0px 15px 10px 15px;
                transition: all .2s ease-in-out;
                h1{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0;
                }
                h2{
                    font-size: 14px;
                    font-weight: 400;
                }
                h3{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0;
                    margin-left: 12px;
                }
                .app-wrap{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    height: 35px;
                    padding: 20px 0;
                    img{
                        width: 34px;
                        height: 34px;
                        object-position: center;
                        object-fit: contain;
                    }
                    transition: all .2s ease-in-out;
                }
                .app-wrap:hover{
                    background-color: #ffffff81;
                    cursor: pointer;
                }
            }
            .user-apps:hover{
                overflow: auto;
            }
            .user-shortcuts{
                width: 47%;
                h1{
                    margin: 10px 15px;
                    font-size: 14px;
                    font-weight: 400;
                }
                .box-productivity-wrap{
                    width: 90%;
                    gap: 10px;
                }
                .box{
                    width: 95px;
                    height: 95px;
                    background-color: #ffffff81;
                    padding: 5px;
                    border: 1px solid transparent;
                }
                .box:hover{
                    border: 1px solid white;
                    cursor: pointer;
                }
                .box1{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .box2{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .box-com{
                    gap: 10px;
                    img{
                        width: 50%;
                    }
                    h3{
                        font-size: 12px;
                    }
                }
            }
        }
        .window-logo-popup.active{
            transform: translateY(0);
            opacity: 1;
        }
        .left-controls{
            margin: 0 10px 0 0;
            font-size: 14px;
            gap: 10px;
            i{
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
    .taskbar.dark{
        background-color: #000000de !important;
        font-weight: 400;
        color: #fff !important;
    }
    .window-logo-popup.dark{
        background-color: #272829 !important;
        color: #fff;
        font-weight: 400;
    }
    .box.dark{
        background-color: #61677A !important;
        font-weight: 400;
    }
    .fa{
        font-weight: 300;
    }
}