@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Segoe UI";
    src: url("./assets/segoe-ui-webfont/Segoe UI.woff");
}
body{
    font-family: 'Poppins';
}

.user-apps::-webkit-scrollbar {
    width: 6px;
    padding: 4px 0;
}
.user-apps::-webkit-scrollbar-thumb {
    background-color: #D9EDBF;
    border-radius: 6px;
}
.user-apps::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}
.user-apps::-webkit-scrollbar-thumb:hover {
    background-color: #A4C3A5;
}


.window{
    // font-family: "Segoe UI";
    background-image: url("./assets/desktop_wallpapers/window_wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;

    // Window Software Code
    .window-softwares{
        width: fit-content;
        padding: 10px 15px;
        height: calc(100vh - 40px);
        gap: 20px;
        .software-standalone{
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-align: center;
            span{
                font-size: 0.75rem;
                color: #fff;
            }
        }
        img{
            width: 45px;
            height: 45px;
        }
    }

    .folder-panel{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        height: 400px;
        background-color: #AAD7D9;
        .folder-panel-container{
            .folder-panel-top{
                height: 24px;
                background-color: #92C7CF;
                color: #fff;
                i{
                    padding: 4px;
                }
                .fa-close:hover{
                    background-color: red !important;
                }
                .title-bar i:hover{
                    background-color: #AAD7D9;
                    cursor: pointer;
                }
            }
            .folder-panel-bottom{
                .folder-panel-sidebar{
                    ul{
                        list-style: none;
                        li{
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
                .folder-panel-container{
                    input[type="search"]{
                        outline: none;
                        border: none;
                        padding: 2px 4px;
                        font-size: 14px;
                    }
                    .fa-search{
                        background-color: #92C7CF;
                        color: #fff;
                    }
                    // Dynamic Content Here
                    .folder-panel-content{
                        height: 334px;
                        overflow-Y: auto;
                        .wallpaper-box{
                            width: 48%;
                            height: 140px;
                            margin: 4px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                border: 1px solid transparent;
                                transition: all .3s ease-in-out;
                            }   
                        }
                        .current_wallpaper{
                            width: 100%;
                            height: 260px;
                            object-fit: cover;
                            object-position: center;
                            border: 1px solid transparent;
                            transition: all .3s ease-in-out;
                        }
                        img:hover{
                            border: 1px solid #fff;
                        }
                    }
                    .folder-panel-content::-webkit-scrollbar {
                        width: 0px;
                    }
                }
            }
        }
    }

    // Taskbar Code
    .taskbar{
        bottom: 0;
        background-color: #CBCBCB;
        z-index: 20;
        .main-win{
            .input-wrap{
                padding: 4px 8px;
                border: 1px solid rgba(0,0,0,0.3);
            }
            input[type="text"]{
                // font-family: 'Segoe UI';
                font-family: 'Poppins';
                width: 250px;
                outline: none;
                height: 100%;
                padding: 0 4px;
                border: 1px solid transparent;
                font-size: 16px;
                cursor: pointer;
            }
            img{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
        .win-logo{
            margin: 0 10px;
        }
        .side-apps{
            display: flex;
            align-items: center;
            margin: 0 10px;
            gap: 15px;
            img{
                width: 28px;
                height: 28px;
                cursor: pointer;
            }
        }
        .window-logo-popup{
            position: fixed;
            bottom: 40px;
            left: 0;
            width: 55%;
            height: 80vh;
            background-color: #C5DEEB;
            transform: translateY(1000px);
            transition: all .4s ease-in-out;
            opacity: 0;
            z-index: -1;
            display: flex;
            flex-direction: row;
            .user-options{
                width: 45px;
                padding: 10px 0;
                i{
                    font-size: 20px;
                    font-weight: 400;
                }
                h2{
                    font-size: 16px;
                    display: none;
                }
                .option-top,
                .file,
                .picture,
                .settings,
                .power{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                .profile{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    img{
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
                .option-bottom{
                    gap: 25px;
                }
            }
            .user-apps{
                width: 50%;
                height: 100%;
                overflow: hidden;
                padding: 0px 15px 10px 15px;
                transition: all .2s ease-in-out;
                h1{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0;
                }
                h2{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 8px 0 0 0;
                }
                h3{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0;
                    margin-left: 12px;
                }
                .app-wrap{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    height: 35px;
                    padding: 20px 0;
                    img{
                        width: 34px;
                        height: 34px;
                        object-position: center;
                        object-fit: contain;
                    }
                    transition: all .2s ease-in-out;
                }
                .app-wrap:hover{
                    background-color: #ffffff81;
                    cursor: pointer;
                }
            }
            .user-apps:hover{
                overflow: auto;
            }
            .user-shortcuts{
                width: 47%;
                h1{
                    margin: 10px 15px;
                    font-size: 14px;
                    font-weight: 400;
                }
                .box-productivity-wrap{
                    width: 90%;
                    gap: 10px;
                }
                .box{
                    width: 95px;
                    height: 95px;
                    background-color: #ffffff81;
                    padding: 5px;
                    border: 1px solid transparent;
                }
                .box:hover{
                    border: 1px solid white;
                    cursor: pointer;
                }
                .box1{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .box2{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .box-com{
                    gap: 10px;
                    img{
                        width: 50%;
                    }
                    h3{
                        font-size: 12px;
                    }
                }
            }
        }
        .window-logo-popup.active{
            transform: translateY(0);
            opacity: 1;
        }
        .left-controls{
            margin: 0 10px 0 0;
            font-size: 14px;
            gap: 10px;
            i{
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
    .taskbar.dark{
        background-color: #000000de !important;
        font-weight: 400;
        color: #fff !important;
    }
    .window-logo-popup.dark{
        background-color: #272829 !important;
        color: #fff;
        font-weight: 400;
    }
    .box.dark{
        background-color: #61677A !important;
        font-weight: 400;
    }
    .fa{
        font-weight: 300;
    }
}